$radiantSkyBlue: #009FB7;
$vanilla: #EBEBD3;
$strongBlue: #083D77;
$pink: #DA4167;
$white: #fff;
$darkAqua: #0E7C7B;
$softMint: #D4F4DD;
$purple: #4B1D3F;
$pinkRed: #d6315b;
$red: #d6001a;
$grey: #92a999;