@import '../../../styles/variables';

.search-results-item {
  padding: 10px;
  display: flex;
  flex-direction: row;

  &__image {
    cursor: pointer;

    img {
      opacity: 1;
      transition: opacity 1s linear;
    }
    img.hidden {
      opacity: 0;
    }
  }

  &__info {
    padding: 10px;
    cursor: pointer;

    &__title {
      padding: 5px;
      font-size: 14px;
    }

    &__description {
      font-size: 10px;
      padding-left: 10px;
    }
  }
}