@import '../../../styles/variables';

.search-results-item {
	padding: 10px;
	display: flex;
	flex-direction: row;

	&__image {
		&__display {
			cursor: pointer;
			opacity: 1;
			transition: opacity 1s linear;

			&.--initially-hidden {
				opacity: 0;
			}
		}
	}

	&__info {
		padding: 2px 10px;
		cursor: pointer;

		&__title {
			padding: 5px;
			font-size: $fontSize--small;
			font-weight: bold;
		}

		&__description {
			font-size: $fontSize--extraSmall;
			padding-left: 10px;
		}
	}
}