@import '../../../styles/variables';

.email-form-view {

  &__login-options {
    display: flex;
    flex-direction: row;
    width: 100%;

    &__option {
      display: block;
      width: 100px;
      flex: 2 0 auto;
      color: $white;
      padding: 20px;
      font-size: $basicFontSize;
      cursor: pointer;
      text-align: center;

      &.--sign-in {
        background: $purple;
      }

      &.--register {
        background: $pinkRed;
      }

      input[type="radio"] {
        -webkit-appearance:none;
      }
    }
  }

  &__form {
    display: flex;
    border: 3px solid;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &.--register {
      border-color: $pinkRed;
    }

    &.--sign-in {
      border-color: $purple;
    }

    &__text-input {
      padding: 20px 30px;
    }

    &__submit-button {
      padding: 10px 20px;
      color: $white;
      border: none;
      border-radius: 5px;
      font-size: $basicFontSize;
      cursor: pointer;

      &.--register {
        background: $pinkRed;
      }

      &.--sign-in {
        background: $purple;
      }

      &:disabled {
        background: $grey;
        cursor: default;
      }
    }

    &__error-message {
      padding: 20px;
      color: $red;
      font-weight: bold;
    }
  }

  .form-text-input {
    outline: 0;
    border: 0;
    border-bottom: 2px solid $grey;
    font-size: $basicFontSize;
    margin: 5px 10px;

    &:focus {
      border-color: $darkAqua;
    }
  }
}