.email-form-view {

  &__login-option-selection {
    display: block;
    background: dodgerblue;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    width: 100px;
    cursor: pointer;

    input[type="radio"] {
      -webkit-appearance:none;
    }
  }
}