@import '../../styles/variables';

.app-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &__logout-button {
    border: none;
    padding: 10px;
    background: $purple;
    color: $white;
    border-radius: 6px;
    font-size: 16px;
  }
}