@import '../../styles/variables';

.app-header {
	padding: 2vh 5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	&__button {
		border: none;
		padding: 10px 16px;
		background: $purple;
		color: $white;
		border-radius: $borderRadius--small;
		font-size: $fontSize--basic;
		cursor: pointer;

		&.--hidden {
			visibility: hidden;
		}
	}

	&__title {
		font-size: $fontSize--basic;
		display: flex;
		align-items: center;

		&__icon {
			padding: 5px;
		}
	}
}