<div class="password-form-view">
  <div class="password-form-view__header">
    SIGN IN
  </div>
  <div class="password-form-view__form">
    <label class="password-form-view__form__text-input"> Password
      <input class="form-text-input"
             [formControl]="passwordInput"
             type="password"
             (keyup.enter)="onSubmit()">
    </label>
    <div class="password-form-view__form__error-message">
      {{errorMessage }}
    </div>
    <button class="password-form-view__form__submit-button"
            (click)="onSubmit()"
            [disabled]="isSubmissionDisabled()">
      OK
    </button>
  </div>
</div>
