@import '../../../styles/colors';


.password-form-view {
  &__header {
    color: $white;
    padding: 20px;
    cursor: pointer;
    width: calc(100% - 40px);
    background: $purple;
    font-size: 22px;
    text-align: center;
  }

  &__form {
    border: 3px solid $purple;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &__submit-button {
      padding: 10px;
      color: $white;
      border: none;
      background: $purple;
    }
  }
}