@import '../../../styles/variables';


.password-form-view {
  &__header {
    width: calc(100% - 40px);
    padding: 20px;
    color: $white;
    cursor: pointer;
    background: $purple;
    font-size: $basicFontSize;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &__form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid $purple;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &__text-input {
      padding: 20px 30px;

      .yv-text-input {
        font-size: 20px;
      }
    }

    &__submit-button {
      padding: 10px 30px;
      color: $white;
      border: none;
      background: $purple;
      border-radius: 5px;
      font-size: 30px;
      cursor: pointer;
    }

    &__error-message {
      padding: 20px;
      color: $red;
      font-weight: bold;
    }
  }
}