<div class="password-form-view">
  <div class="password-form-view__header">
    {{ texts.SIGN_IN }}
  </div>
  <div class="password-form-view__form">
    <label class="password-form-view__form__text-input">
      {{ texts.PASSWORD }}
      <input class="yv-text-input"
             [formControl]="passwordInput"
             type="password"
             (keyup.enter)="onSubmit()"
             #passwordInputElement>
    </label>
    <div class="password-form-view__form__error-message">
      {{errorMessage }}
    </div>
    <button class="password-form-view__form__submit-button yv-icon-checkmark"
            (click)="onSubmit()"
            [disabled]="isSubmissionDisabled()">
    </button>
  </div>
</div>
